@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}
svg {
  display: block;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}
pre {
  background-color: rgba(55, 65, 81, 1);
  border-radius: 0.25rem;
  color: rgba(229, 231, 235, 1);
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  overflow: scroll;
  padding: 0.5rem 0.75rem;
}

@layer base {
  * {
    @apply scroll-smooth;
  }

}

@layer utilities {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }


  .form-container {
    @apply flex max-h-[800px] w-full max-w-[580px] flex-col justify-center space-y-6 transition-all lg:h-full lg:space-y-8;
  }
  
  .form-title {
    @apply text-center text-2xl font-medium leading-normal text-primary md:text-left;
  }

  .form-input input {
    @apply mt-1 h-[42px] w-full rounded-md focus:outline-primary-500 border border-border bg-muted px-4 py-2 text-sm leading-normal text-foreground;
  }

  .form-input-password input {
    @apply h-[42px] w-full rounded-md focus:outline-primary-500 border border-border bg-muted px-4 py-2 text-sm leading-normal text-foreground;
  }

  .form-input-password label,
  .form-input label {
    @apply ml-4 block text-sm font-medium leading-normal text-foreground;
  }

  .form-input-password [data-input-container="true"] {
    @apply mt-1 grid items-center;
  }

  .form-input-password [data-input="true"] {
    grid-area: 1 / 1;
    @apply w-full pr-20;
  }

  .form-input-password [data-input-adornment="true"] {
    grid-area: 1 / 1;
    @apply justify-self-end flex items-center pr-1;
  }

  .form-input-password [data-password-toggle="true"] {
    @apply h-[36px] cursor-pointer rounded-md
          hover:bg-secondary-300
          border border-transparent
          bg-secondary-200
          px-4 py-2 text-xs leading-normal
          text-secondary-foreground;
  }

  .form-message {
    @apply mt-1 text-sm text-red-500;
  }
}